@{
	var sessionVar = (User)Session["user"];
	var message = "Welcome. Register to continue?";
	if (sessionVar != null) {
		message = String.Format("Welcome back, {0}", sessionVar.username);
	}
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
	<nav>
	<em>@message</em>
	@if (sessionVar == null) 
		{
			@Html.ActionLink("Register", "register", "account")	
			@Html.Raw(" or ")
			@Html.ActionLink("Login", "login", "account")	
		} else if (sessionVar != null) {
			@Html.ActionLink("Logout", "logout", "account")
		}
	
	</nav>
	@RenderBody()
</body>
</html>

